<section class="orders-show">
  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>
  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <%= @order.customer.email %>
    <br>
    Order placed <%= @order.created_at %>
  </div>
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'product' %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3"><h3>Invoice</h3></th>
        </tr>
        <tr>
          <th colspan="3">Address:</th>
          <th><%= @order.customer.address %></th>
        </tr>
        <tr>
          <th colspan="3">Province:</th>
          <th><%= @order.customer.province.name %></th>
        </tr>
        <% if @order.customer.province.gst.present? %>
          <tr>
            <th colspan="3">GST:</th>
            <th>$<%= (@order.total_amount * @order.customer.province.gst).round(2) %></th>
          </tr>
        <% end %>
        <% if @order.customer.province.pst.present? %>
          <tr>
            <th colspan="3">PST:</th>
            <th>$<%= (@order.total_amount * @order.customer.province.pst).round(2) %></th>
          </tr>
        <% end %>
        <% if @order.customer.province.hst.present? %>
          <tr>
            <th colspan="3">HST:</th>
            <th>$<%= (@order.total_amount * @order.customer.province.hst).round(2) %></th>
          </tr>
        <% end %>
        <tr>
          <th colspan="3">GRAND TOTAL:</th>
          <th>$<%= @order.total_amount %></th>
        </tr>
        <tr>
        <th colspan="3">After Tax GRAND TOTAL:</th>
        <th>$<%= (
          @order.total_amount +
          (@order.total_amount * (@order.customer.province.pst || 0)) +
          (@order.total_amount * (@order.customer.province.gst || 0)) +
          (@order.total_amount * (@order.customer.province.hst || 0))
        ).round(2) %></th>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
