<article class="product">
  <header>
    <%= link_to product do %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>

  <%= image_tag(product.image.url(:thumb), alt: product.name, class: "product-image") if product.image.present? %>
  
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <aside class="price">
      <%= product.price %>
    </aside>
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary pull-right', data: { "turbo-method": :put } do %>
      <span class="glyphicon glyphicon-shopping-cart shopping-carts"> Add </span>
    <% end %>
  </footer>
</article>
